@model IEnumerable<ParkingSystem.App.ViewModels.CarroViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a asp-action="Create">Novo</a>
</p>
<table class="table">
    <thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Placa)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Marca)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Modelo)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ManobristaEntrada)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DataHoraEntrada)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ManobristaSaida)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DataHoraSaida)
			</th>
			<th></th>
		</tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Placa)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Marca)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Modelo)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ManobristaEntrada.Nome)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.DataHoraEntrada)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ManobristaSaida.Nome)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.DataHoraSaida)
			</td>
			<td>
				<a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
				<a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
				<a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
			</td>
		</tr>
}
    </tbody>
</table>
